{% extends "header-footer(white).html" %}
{% load staticfiles %}

{% block content %}
{% if UserName %}
<div class="container" style="padding: 10rem 5rem;">
  <h2>{{UserName}} logged in </h2>
</div>
{% else %}
<div class="container" style="padding: 10rem 5rem;">
  <div class=container>
  <a href="/signup"><button class="btn btn-primary mx-auto">Sign Up</button></a>
  </div>
  <br> 
  <div class="container">
    <form class="form" method="POST">
      {% csrf_token %}
      {{form.as_p}}
      <!-- {% for field in form %}
        {{field}}
        <br>
      {% endfor %} -->
      {% if msg %}
        {{msg}}
        <br>
        <br>
      {% endif %}
      <button class="btn btn-primary mx-auto" type="submit" value="login">Login</button>
    </form>
  </div>
  {% endif %}
</div>
{% endblock %}