{% extends "header-footer(white).html" %}
{% load staticfiles %}

{% block content %}
<div class="container" style="text-align: justify; padding: 7rem 0rem;">
  <h2>Choose an option for each of the following questions:</h2>
  <br>
  <div class="container">
    <form method="POST">
      {% csrf_token %}
      <ol> 
        {% for q in form %}
          <li>{{q.label}}</li>
          {{q}}
        {% endfor %} 
      </ol>
      <button type="submit" class="btn btn-primary mx-auto" value="Submit">Submit</button>
    </form>
  </div>  
</div>
{% endblock %}